@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
html.yes_accessible body {
  font-family: Arial;
  font-size: 120%;
  padding: 2em; }

html.yes_accessible .intro {
  font-size: 200%;
  margin-bottom: 1em;
  margin-top: 0.7em; }

html.yes_accessible li {
  margin: 1em; }

html.yes_accessible ul {
  margin-bottom: 2em;
  margin-top: 2em; }

html.yes_accessible #volume_display {
  display: none; }

html.yes_accessible .widgets button {
  font-size: 500%;
  padding: 10px;
  margin: 30px; }

html.yes_accessible .widgets a {
  font-size: 150%; }
  html.yes_accessible .widgets a .arrow {
    color: #a00; }

html.no_accessible,
html.no_accessible body {
  height: 100%;
  width: 100%; }

html.no_accessible body {
  color: #ff6;
  background: #000;
  margin: 0; }
  html.no_accessible body.on {
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: 0.15em; }
    html.no_accessible body.on article.animation_body {
      overflow: hidden; }

html.no_accessible body > h1 {
  font-size: 400%;
  text-align: center; }

html.no_accessible h1.hide {
  visibility: hidden; }

html.no_accessible .widgets a {
  color: green; }
  html.no_accessible .widgets a:visited {
    color: #888; }

html.no_accessible .starwars.accessible_body {
  padding: 1em; }
  html.no_accessible .starwars.accessible_body .logo {
    position: absolute;
    width: 8em;
    margin: -4em 0 0 -4em; }
  html.no_accessible .starwars.accessible_body .intro {
    position: absolute; }
  html.no_accessible .starwars.accessible_body .widgets {
    position: absolute; }

html.no_accessible .starwars .widgets {
  font-size: 200%;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer; }
  html.no_accessible .starwars .widgets button {
    font-size: 300%; }
  html.no_accessible .starwars .widgets a {
    font-size: 150%; }
    html.no_accessible .starwars .widgets a .arrow {
      color: #a00; }

html.no_accessible .starwars section.intro, html.no_accessible .starwars section.logo, html.no_accessible .starwars section.start, html.no_accessible .starwars section.titles {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1; }

html.no_accessible .starwars .intro {
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee; }

html.no_accessible .starwars.animation_body .logo svg {
  width: inherit; }

html.no_accessible .starwars.animation_body .titles {
  overflow: hidden; }
  html.no_accessible .starwars.animation_body .titles div.story p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em; }

html.no_accessible .starwars.on.animation_body.animation .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  opacity: 0;
  animation: intro 6s ease-out 1s; }

html.no_accessible .starwars.on.animation_body.animation .logo {
  animation: logo 9s ease-out 9s; }

html.no_accessible .starwars.on.animation_body.animation .titles {
  font-size: 350%;
  transform-origin: 50% 100%;
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg); }
  html.no_accessible .starwars.on.animation_body.animation .titles div.story {
    position: absolute;
    top: 100%;
    bottom: -100%;
    animation: titles 60s linear 18.1s; }
    html.no_accessible .starwars.on.animation_body.animation .titles div.story > p {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }

html.no_accessible .starwars.on.animation_body .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  opacity: 0; }

html.no_accessible .starwars.on.animation_body .logo {
  width: 18em;
  margin: -9em 0 0 -9em;
  opacity: 0; }

html.no_accessible .starwars.on.animation_body .titles {
  top: auto;
  bottom: 0;
  height: 50em;
  text-align: justify;
  width: 14.65em;
  margin: 0 0 0 -7.325em; }

html.no_accessible .main_animation {
  position: fixed;
  animation: main_animation 60s linear 18.05s; }

html.no_accessible .main_animation.hidden {
  display: none; }

@keyframes main_animation {
  0% {
    bottom: 0; }
  100% {
    bottom: 0; } }

@keyframes intro {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes logo {
  0% {
    -moz-transform: scale(2.75);
    -ms-transform: scale(2.75);
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0; } }

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1; }
  90% {
    top: 20%;
    opacity: 1; }
  100% {
    top: 10%;
    opacity: 0; } }

html.no_accessible a:focus,
html.no_accessible button:focus {
  outline: red solid 2px; }

html.no_accessible #volume_display.display_off {
  display: none; }

html.no_accessible #volume_display.display_on {
  color: white; }

html.no_accessible .play {
  padding: 0.1em 0.2em; }

article.starwars > header,
.starwars section > header {
  display: none; }

.start.hide,
.widgets.hide {
  display: none; }
