@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

// @import "compass/css3";

@mixin backface-visibility($vis) {
  -moz-backface-visibility: $vis;
  -webkit-backface-visibility: $vis;
  backface-visibility: $vis;
}

@mixin logo($logo-width) {
  width: $logo-width;
  margin: (-$logo-width / 2) 0 0 (-$logo-width / 2);
}

@mixin my_transform($trans) {
  -moz-transform: $trans;
  -ms-transform: $trans;
  -webkit-transform: $trans;
  transform: $trans;
}

html.yes_accessible {
  body {
    font-family: Arial;
    font-size: 120%;
    padding: 2em;
  }
  li {
    margin: 1em;
  }
  ul {
    $v: 2em;
    margin-bottom: $v;
    margin-top: $v;
  }
  #volume_display {
    display: none;
  }
}

html.no_accessible {
  &,
  body {
    height: 100%;
    width: 100%;
  }
  body {
    color: #ff6;
    background: #000;
    margin: 0;
    &.on {
      article.animation_body {
        overflow: hidden;
      }
      font: 700 1em "News Cycle", sans-serif;
      letter-spacing: 0.15em;
    }
  }

  body > h1 {
    font-size: 400%;
    text-align: center;
  }

  h1.hide {
    visibility: hidden;
  }

  .widgets {
    a {
      color: green;
      &:visited {
        color: #888;
      }
    }
  }

  .starwars.accessible_body {
    padding: 1em;
    .logo {
      position: absolute;
      @include logo(8em);
    }
    .intro {
      position: absolute;
    }
    .widgets {
      position: absolute;
    }
  }

  .starwars {
    .widgets {
      button {
        font-size: 300%;
      }

      a {
        font-size: 150%;
        .arrow {
          color: #a00;
        }
      }
      font-size: 200%;
      $start-width: 14em;
      // width: $start-width;
      margin: -4em 0 0 (-$start-width / 2);
      text-align: center;
      cursor: pointer;

      @if false {
        $start-width: 14em;
        // width: $start-width;
        margin: -4em 0 0 (-$start-width / 2);
        span {
          color: rgb(75, 213, 238);
        }
      }
    }
  }

  .starwars {
    section {
      &.intro,
      &.logo,
      &.start,
      &.titles {
        position: absolute;
        top: 45%;
        left: 50%;
        z-index: 1;
      }
    }

    @if false {
      .story {
        position: absolute;
        top: 45%;
        left: 50%;
        z-index: 1;
      }
    }

    .intro {
      font-size: 200%;
      font-weight: 400;
      color: rgb(75, 213, 238);
    }
  }
  .starwars.animation_body {
    .logo {
      svg {
        width: inherit;
      }
    }

    .titles {
      overflow: hidden;

      div.story {
        p {
          margin: 1.35em 0 1.85em 0;
          line-height: 1.35em;
        }
      }
    }
  }

  .starwars.on.animation_body {
    &.animation {
      .intro {
        $intro-width: 15em;
        width: $intro-width;
        margin: 0 0 0 (-$intro-width / 2);
        opacity: 0;
        animation: intro 6s ease-out 1s;
      }
      .logo {
        animation: logo 9s ease-out 9s;
      }
      .titles {
        font-size: 350%;
        transform-origin: 50% 100%;
        @include my_transform(perspective(300px) rotateX(25deg));
        div.story {
          position: absolute;
          top: 100%;
          bottom: -100%;
          animation: titles 60s linear 18.1s;
          > p {
            @include backface-visibility(hidden);
          }
        }
      }
    }

    .intro {
      $intro-width: 15em;
      width: $intro-width;
      margin: 0 0 0 (-$intro-width / 2);
      opacity: 0;
    }
    .logo {
      @include logo(18em);
      opacity: 0;
    }

    .titles {
      top: auto;
      bottom: 0;
      height: 50em;
      text-align: justify;
      $titles-width: 14.65em;
      width: $titles-width;
      margin: 0 0 0 (-$titles-width / 2);
      div.story {
      }
    }
  }

  .main_animation {
    position: fixed;
    // bottom: 0;
    // animation: main_animation 6s ease-out 1s;
    animation: main_animation 60s linear 18.05s;
  }

  .main_animation.hidden {
    display: none;
  }

  @keyframes main_animation {
    0% {
      // opacity: 0;
      bottom: 0;
    }
    100% {
      bottom: 0;
    }
  }

  @keyframes intro {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes logo {
    0% {
      @include my_transform(scale(2.75));
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      @include my_transform(scale(0.1));
      opacity: 0;
    }
  }

  @keyframes titles {
    0% {
      top: 100%;
      opacity: 1;
    }
    90% {
      top: 20%;
      opacity: 1;
    }
    100% {
      top: 10%;
      opacity: 0;
    }
  }
  @mixin links_visible_focus {
    a:focus,
    button:focus {
      outline: red solid 2px;
    }
  }
  @include links_visible_focus;

  #volume_display {
    &.display_off {
      display: none;
    }
    &.display_on {
      color: white;
    }
  }
  .play {
    padding: 0.1em 0.2em;
  }
}

article.starwars,
.starwars section {
  > header {
    display: none;
  }
}

.start,
.widgets {
  &.hide {
    display: none;
  }
}
