@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
/* line 11, ../scss/style.scss */
html.yes_accessible body {
  font-family: Arial;
  font-size: 120%;
  padding: 2em;
}
/* line 16, ../scss/style.scss */
html.yes_accessible #volume_display {
  display: none;
}

/* line 22, ../scss/style.scss */
html.no_accessible,
html.no_accessible body {
  height: 100%;
  width: 100%;
}
/* line 27, ../scss/style.scss */
html.no_accessible body {
  color: #ff6;
  background: #000;
  margin: 0;
}
/* line 31, ../scss/style.scss */
html.no_accessible body.on {
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: 0.15em;
}
/* line 32, ../scss/style.scss */
html.no_accessible body.on article.animation_body {
  overflow: hidden;
}
/* line 40, ../scss/style.scss */
html.no_accessible body > h1 {
  font-size: 400%;
  text-align: center;
}
/* line 45, ../scss/style.scss */
html.no_accessible h1.hide {
  visibility: hidden;
}
/* line 50, ../scss/style.scss */
html.no_accessible .widgets a {
  color: green;
}
/* line 52, ../scss/style.scss */
html.no_accessible .widgets a:visited {
  color: #888;
}
/* line 58, ../scss/style.scss */
html.no_accessible .starwars.accessible_body {
  padding: 1em;
}
/* line 60, ../scss/style.scss */
html.no_accessible .starwars.accessible_body .logo {
  position: absolute;
  width: 8em;
  margin: -4em 0 0 -4em;
}
/* line 64, ../scss/style.scss */
html.no_accessible .starwars.accessible_body .intro {
  position: absolute;
}
/* line 67, ../scss/style.scss */
html.no_accessible .starwars.accessible_body .widgets {
  position: absolute;
}
/* line 73, ../scss/style.scss */
html.no_accessible .starwars .widgets {
  font-size: 200%;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer;
}
/* line 74, ../scss/style.scss */
html.no_accessible .starwars .widgets button {
  font-size: 300%;
}
/* line 78, ../scss/style.scss */
html.no_accessible .starwars .widgets a {
  font-size: 150%;
}
/* line 80, ../scss/style.scss */
html.no_accessible .starwars .widgets a .arrow {
  color: #a00;
}
/* line 104, ../scss/style.scss */
html.no_accessible .starwars section.intro, html.no_accessible .starwars section.logo, html.no_accessible .starwars section.start, html.no_accessible .starwars section.titles {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
/* line 124, ../scss/style.scss */
html.no_accessible .starwars .intro {
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee;
}
/* line 132, ../scss/style.scss */
html.no_accessible .starwars.animation_body .logo svg {
  width: inherit;
}
/* line 137, ../scss/style.scss */
html.no_accessible .starwars.animation_body .titles {
  overflow: hidden;
}
/* line 141, ../scss/style.scss */
html.no_accessible .starwars.animation_body .titles div.story p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
}
/* line 151, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body.animation .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  opacity: 0;
  animation: intro 6s ease-out 1s;
}
/* line 158, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body.animation .logo {
  animation: logo 9s ease-out 9s;
}
/* line 161, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body.animation .titles {
  font-size: 350%;
  transform-origin: 50% 100%;
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}
/* line 165, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body.animation .titles div.story {
  position: absolute;
  top: 100%;
  bottom: -100%;
  animation: titles 60s linear 18.1s;
}
/* line 170, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body.animation .titles div.story > p {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 177, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  opacity: 0;
}
/* line 183, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body .logo {
  width: 18em;
  margin: -9em 0 0 -9em;
  opacity: 0;
}
/* line 188, ../scss/style.scss */
html.no_accessible .starwars.on.animation_body .titles {
  top: auto;
  bottom: 0;
  height: 50em;
  text-align: justify;
  width: 14.65em;
  margin: 0 0 0 -7.325em;
}
/* line 201, ../scss/style.scss */
html.no_accessible .main_animation {
  position: fixed;
  animation: main_animation 60s linear 18.05s;
}
/* line 208, ../scss/style.scss */
html.no_accessible .main_animation.hidden {
  display: none;
}
@keyframes main_animation {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo {
  0% {
    -moz-transform: scale(2.75);
    -ms-transform: scale(2.75);
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  90% {
    top: 20%;
    opacity: 1;
  }
  100% {
    top: 10%;
    opacity: 0;
  }
}
/* line 266, ../scss/style.scss */
html.no_accessible a:focus,
html.no_accessible button:focus {
  outline: red solid 2px;
}
/* line 274, ../scss/style.scss */
html.no_accessible #volume_display.display_off {
  display: none;
}
/* line 277, ../scss/style.scss */
html.no_accessible #volume_display.display_on {
  color: white;
}
/* line 281, ../scss/style.scss */
html.no_accessible .play {
  padding: 0.1em 0.2em;
}

/* line 288, ../scss/style.scss */
article.starwars > header,
.starwars section > header {
  display: none;
}

/* line 295, ../scss/style.scss */
.start.hide,
.widgets.hide {
  display: none;
}
